img {
  width: 100%;
  background-image: radial-gradient(center 0, circle farthest-corner, rgba(0,0,0,0.15), rgba(0,0,0,0));
}

body {
background: url(../img/bg-brown.jpg) transparent 0 0 no-repeat;
background-size: cover;
font-family: "helvetica neue", arial;
}

p {
  font-size: 18px;
  text-align: center;
}

.wrapper {
  min-height: 1100px;
  position: relative;
  padding-top: 70px;


  /*background: url(../img/industry2.jpg) transparent 0 0 repeat-y;
  background-size: cover;*/
}

.slideshow {
  margin: auto;
  width: 50%;
  margin-bottom: 50px;

  box-shadow: 0 0 15px 3px rgba(0,0,0,.35);
}

.orbit-container {
  background-color: transparent;
}

.orbit-slides-container {


}

.creator-logo {
  width: 200px;
  margin: 0 auto;
}

.front-logo {
  margin: 0 auto;
  width: 100px;
}
